hoist=false
link-workspace-packages=deep

# Smart Contracts
public-hoist-pattern[]='hardhat'
public-hoist-pattern[]='@ethersproject/*'
public-hoist-pattern[]='viem'
public-hoist-pattern[]='@viem/viem'
public-hoist-pattern[]='wagmi'
public-hoist-pattern[]='@wagmi/*'
public-hoist-pattern[]='@rainbow-me/*'

# Lint
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='*prettier*'

# React
public-hoist-pattern[]='react'
public-hoist-pattern[]='react-dom'
public-hoist-pattern[]='@types/react'
public-hoist-pattern[]='@types/react-dom'

# Firebase
public-hoist-pattern[]='firebase'
public-hoist-pattern[]='firebase-*'
public-hoist-pattern[]='@firebase/*'
